[user]
	name = kouichiishikawa
	email = hello@kouichiishikawa.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = code --wait
[merge]
	tool = code --wait \"$MERGED\"
[push]
	default = simple
